APP_NAME=OOAAOW
APP_VERSION=1.0.0
PORT=3050
IP_ADDRESS=10.10.7.79
# db issues⬇️
MONGO_URI=mongodb://localhost:27017/nest-concept-practice
# jwt issues⬇️
JWT_SECRET=replace_with_a_strong_random_stringq43r1654341t2g12tg1232c0v6vt02343t2t34362v03+
JWT_EXPIRES_IN=1h
BYCRYPT_SALT=10
# super issues⬇️
ADMIN_EMAIL=admin@email.com
ADMIN_PASSWORD=000000
ADMIN_FNAME=super
ADMIN_LNAME=admin
# ai apis⬇️
GROQ_API_KEY="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"
TAVILY_API_KEY="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"
GOOGLE_API_KEY="AIzaSyDc56SZJiSIOmH1O8m6fW2LKgIKFvlh5bo"

