# Auth Service Configuration
AUTH_SERVICE_PORT=3001
AUTH_SERVICE_MONGO_URI=mongodb://localhost:27017/uber-microservice-auth-service

# Passenger Service Configuration
PASSENGER_SERVICE_PORT=3002
PASSENGER_SERVICE_MONGO_URI=mongodb://localhost:27017/uber-microservice-passenger-service

# Rider Service Configuration
RIDER_SERVICE_PORT=3003
RIDER_SERVICE_MONGO_URI=mongodb://localhost:27017/uber-microservice-rider-service

# Main Application Configuration
APP_PORT=3000